/*  
    UI/UX
    Daniel Meza
    styles.css
*/

/*  IMPORTS Fonts and Icons - Google Font and Bootstrap*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap'); /* Cormorant Garamond - Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /* Lora - Google Font*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");/* Iconos de Bootstrap */


/* ---------------------------------------------------- 
    ROOT VARIABLES
    Definición de variables CSS para colores y fuentes.
    Naranja Cempasúchil (#FF9A00)
    Rosa Mexicano / Buganvilla (#E4007C)
    Morado Místico (#8A2BE2)
    Amarillo Calavera (#F7DC6F)
    Negro Noche / Obsidiana (#1C1C1C)
    Blanco Hueso (#F5F5DC)
    Font
    Cormorant Garamond: Titulos y encabezados
    Lora: Cuerpo de Texto
---------------------------------------------------- */
:root {
    --primary-color: #FF9A00; /* Titulos y encabezados*/
    --primary-color-dark-bg: #1C1C1C; /*Background, Fondo Principal*/
    --primary-color-light: #F5F5DC; /* Texto parrafo sobre fondo oscuro*/
    --secondary-color-cta: #E4007C; /* Botones y llamados a la Accion*/
    --secondary-color-dark: #8A2BE2; /* iconos y detalles graficos*/
    --secondary-color-light: #F7DC6F; /* iconos y detalles graficos*/
    --font-Tittles: 'Cormorant Garamond', bold;
    --font-secondary: 'Cormorant', serif;
}

a.navbar-brand{
    font-family: var(--font-Tittles);
    font-size: 2rem;
    

}

.container-fluid{
    background-color: var(--primary-color-dark-bg);
    
}

/* Header - Barra de navegacion */
.nav{
    position: fixed;
}

.navbar-brand{
    font-size: 0.5rem; /* Tamaño de fuente más grande */
    color: var(--primary-color) !important; /* Color de texto para que contraste */
    img{
        height: 100px; /* Ajustar la altura de la imagen según sea necesario */
        width: auto; /* Mantiene la proporción de la imagen */
        margin-right: 5px; /* Espacio entre la imagen y el texto */
    }
}


.nav-item {
    font-family: var(--font-secondary); /* Cambia la fuente */
    font-weight: bold;
    /*font-size: 1.5rem; */
    color: var(--primary-color); /* Color de texto para que contraste */
}

a.nav-link{
    font-weight: bold;
    font-size: 1rem; 
    color: var(--primary-color); /* Color de texto para que contraste */
    margin-right: 10px; /* Espacio entre enlaces */
    transition: transform 0.4s ease, transform 0.5s ease-in-out; /* Transición suave para el efecto */
}

/* Botones del navbar con llamado a la Accion*/
.nav-link:hover {
    transform: scale(1.03); /* Efecto de agrandamiento al pasar el mouse */
    background-color: var(--secondary-color-cta); /* Usa la variable de Bootstrap redefinida */
    color: var(--primary-color-light); /* Color de texto para que contraste */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold;
}

/* ---------------------------------------------------- */
body {
    background-color: var(--primary-color-dark-bg); /* Color de fondo -> Negro Obsidiana */
    color: var(--primary-color); /* Color de texto Naranja Cempasúchil  */
    font-family: var(--font-secondary); /* Fuente predeterminada para todo el body */
    margin: 0;
    padding: 0;
}

/* blockquote container Centrado*/
.blockquote {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* centrado vertical si se establece la altura */
    padding: 15px;
    margin: 0 auto;         /* centro dentro del padre */
    text-align: center;     /* centrar el texto en el interior */
}

/* Limita el ancho del párrafo para que se ajuste a aproximadamente dos líneas.
Ajusta el ancho máximo para adaptarlo al tamaño de fuente y a los saltos de línea deseados. */
.blockquote p {
    display: inline-block; /* Se encoge para ajustarse, por lo que el ancho máximo se aplica bien */
    max-width: 700px;      /* Ancho que produce dos líneas en el escritorio */
    width: 90%;            /* Responsivo: utiliza el 90% del contenido principal en pantallas pequeñas */
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0;
}

#Inicio{
    display: grid;
    /* Se define una cuadrícula de 3 columnas. La columna central (2fr) 
    será el doble de ancha que las laterales (1fr). */
    grid-template-columns: 1fr 2fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px;
    margin: 20px;
    align-items: center;
    #Inicio-1{
        grid-column: 1 / 2; /* Ocupa la primera columna */
        justify-self: center; /* Centra la tarjeta horizontalmente en su columna */
        
    }
    #Inicio-2{
        /* Se posiciona el video en la columna central */
        grid-column: 2 / 3; /* Ocupa la segunda columna */   
    }
    #Inicio-3{
        /* Se posiciona el segundo 'card' en la tercera columna */
        grid-column: 3 / 4; /* Ocupa la tercera columna */ 
        justify-self: center; /* Centra la tarjeta horizontalmente en su columna */  
    }

    /* Contenedor Flex para centrar el video */
    .centrador-flex {  
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto; /*se ajusta la altura según sea necesario */
        background-color: var(--primary-color-dark-bg);
    }

    /* Estilos de las tarjetas */
    .card {
        font-family: var(--font-secondary); /* Fuente para el texto dentro de las tarjetas */
        background-color: var(--secondary-color-light); /* Fondo de las tarjetas */
        color: var(--primary-color-dark-bg); /* Color del texto dentro de las tarjetas */
        font-weight: bold; /* Texto en negrita */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
    }
    .card:hover {
        transform: translateY(-10px); /* Efecto de elevación al pasar el mouse */
    }
}

/* Contenedor para definir el tamaño pequeño */
.video-wrapper {
    width: 100%;
    max-width: 650px; /* <-- este valor se ajusta */
    margin-top: 0px;
}

/* -- Origen --- */
#Origen{
    margin: 20px;
    padding: 50px;
    h2{
        text-align: center;
        font-family: var(--font-Tittles);
        font-size: 2.5rem;
        color: var(--primary-color);
        margin-bottom: 10px;
        border-bottom: 2px solid var(--secondary-color-dark); /* Línea debajo del título */
    } 
    p{
        text-align: center;
        font-family: var(--font-secondary);
        font-size: 1.2rem;
        color: var(--primary-color);
        margin-bottom: 20px;
    }
}


/* --- La Ofrenda --- */
#Ofrenda{
    margin: 20px;
    padding: 50px;
    h2{
        text-align: center;
        font-family: var(--font-Tittles);
        font-size: 2.5rem;
        color: var(--primary-color);
        margin-bottom: 10px;
        border-bottom: 2px solid var(--secondary-color-dark); /* Línea debajo del título */
    } 
    p{
        text-align: center;
        font-family: var(--font-secondary);
        font-size: 1.2rem;
        color: var(--primary-color);
        margin-bottom: 20px;
    }
}


/* --- Galeria --- */
#Galeria{
    margin: 20px;
    padding: 50px;
    h2{
        text-align: center;
        font-family: var(--font-Tittles);
        font-size: 2.5rem;
        color: var(--primary-color);
        margin-bottom: 10px;
        border-bottom: 2px solid var(--secondary-color-dark); /* Línea debajo del título */
    } 
}

/* --- Recursos --- */
#Recursos{
    margin: 20px;
    padding: 50px;
    h2{
        text-align: center;
        font-family: var(--font-Tittles);
        font-size: 2.5rem;
        color: var(--primary-color);
        margin-bottom: 10px;
        border-bottom: 2px solid var(--secondary-color-dark); /* Línea debajo del título */
    } 
    p{
        text-align: center;
        font-family: var(--font-secondary);
        font-size: 1.2rem;
        color: var(--primary-color);
        margin-bottom: 20px;
    }
    ul{
        list-style-type: none; /* Elimina los puntos de la lista */
        padding: 0; /* Elimina el padding por defecto */
        max-width: 600px; /* Limita el ancho máximo para mejor legibilidad */
        margin: 0 auto; /* Centra la lista horizontalmente */
    }
    li{
        margin-bottom: 10px; /* Espacio entre los elementos de la lista */
    }
    a{
        color: var(--secondary-color-cta); /* Color de los enlaces */
        text-decoration: none; /* Elimina el subrayado por defecto */
        font-weight: bold;
        transition: transform 0.4s ease, transform 0.5s ease-in-out; /* Transición suave para el efecto */
    }
    a:hover{
        color: var(--primary-color-light); /* Color al pasar el mouse */
        text-decoration: underline; /* Subrayado al pasar el mouse */
        transform: scale(1.1); /* Efecto de agrandamiento al pasar el mouse */
        font-weight: bold;
    }

    .mapa{
        text-align: center;
        margin-top: 30px;
        h3{
            font-family: var(--font-Tittles);
            font-size: 2rem;
            color: var(--primary-color);
            margin-bottom: 10px;
        }
        p{
            font-family: var(--font-secondary);
            font-size: 1.2rem;
            color: var(--primary-color);
            margin-bottom: 20px;
        }
        iframe{
            margin-top: 10px;
            border: 10px solid var(--primary-color); /* Borde alrededor del mapa */
            border-radius: 10px; /* Bordes redondeados */
            max-width: 100%; /* Hace que el iframe sea responsivo */
            
        }
    }
}